<div class="p-3 mx-auto" style="width: 500px;">
<h1>Stupid Coaching</h1>

<div class="alert alert-secondary">
<%= @question %>
<p>- You</p>
</div>

<div class="alert alert-secondary">
<%= @answer %>
<p>- Your coach</p>
</div>


<button type="button" class="btn btn-light"><%= link_to 'Ask a new question', ask_path %></button>
</div>
