<div class="alert alert-secondary m-3 p-3 mx-auto" style="width: 500px;">
<h1>Stupid Coaching</h1>
<p>Ask your Coach anything:</p>
<form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
</div>
